body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.mainDiv{
  background-color: rgb(68, 117, 129);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.centerDiv{
  width: 30%;
  height: 85vh;
  background-color: #dfe2e1;
  border-radius: 25px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0,0.5);
}
h1{
  font-size: 45px;
  font-family: sans-serif;
  text-shadow: 5px 5px 5px rgb(172, 169, 169);
}
.centerDiv .btn{
  min-height: 40px;
  min-width: 40px;
  border-radius: 50%;
  border-color: transparent;
  color: #fff;
  background-color: rgb(129, 95, 126);
  /* font-size: 40px; */
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0,0.3);
}
.centerDiv .btn:hover{
  background-color: seagreen;
}
.deleteButton{
  background-color: rgb(148, 120, 146);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 0px;
  font-size: 3px;
}
.deleteButton:hover{
  background-color: rgb(250, 101, 101);
}
input{
  font-size: 25px;
  background-color:transparent ;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(129, 95, 126);
  border-radius: 10px;
  text-align: center;
  width: 75%;
}
ol{
  margin-top: 30px;
}
ol li{
  padding-left: 0px;
  align-items: left;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: rgb(129, 95, 126);
  text-transform: capitalize;

}
.toDoStyle{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  /* justify-content: center;
  align-items: center; */
}
.toDoStyle .fa-times{
  width: 20px;
  height: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  
  background-color: rgb(129, 95, 126);
  border-radius: 50%;
  margin: 0px 15px 0px 35px;
  color: white;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0,0.3);
  font-weight: 1000;
  margin-left: 0px;
  cursor: pointer;
}
.toDoStyle .fa-times:hover{
  background-color: brown;
}
.toDoStyle .fa-times .listStyle{
  color: brown;
}